.ground1 {
  background: url('/images/ground/ground.1.png') no-repeat left top;
  background-size: 12px 128px;
}

.ground2 {
  background: url('/images/ground/ground.2.png') repeat-x left top;
  background-size: 64px 128px;
}

.ground3 {
  background: url('/images/ground/ground.3.png') no-repeat left top;
  background-size: 4px 128px;
}
