.moon {
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 50%;
  box-shadow: 0px 0px 1px 0px black;
}

.sm {
  width: 13vh;
  height: 13vh;
  opacity: 0.6;
  animation: smPosition 90s infinite;
}

.md {
  width: 15vh;
  height: 15vh;
  opacity: 0.5;
  animation: mdPosition 90s infinite;
}

@keyframes smPosition {
  0% {
    right: -28.25vh;
    top: -28.25vh;
  }
  30% {
    right: -28.75vh;
    top: -28.75vh;
  }
  33% {
    right: 1.25vh;
    top: 1.25vh;
    transform: scale(0.6);
  }
  50% {
    right: 11vh;
    top: 11vh;
    transform: scale(1);
  }
  74% {
    right: -28.75vh;
    top: -28.75vh;
    transform: scale(0.3);
  }
  100% {
    right: -28.25vh;
    top: -28.25vh;
  }
}

@keyframes mdPosition {
  0% {
    right: -30vh;
    top: -30vh;
  }
  30% {
    right: -30vh;
    top: -30vh;
  }
  33% {
    right: 0.25vh;
    top: 0.25vh;
    transform: scale(0.6);
  }
  50% {
    right: 10vh;
    top: 10vh;
    transform: scale(1);
  }
  74% {
    right: -30vh;
    top: -30vh;
    transform: scale(0.3);
  }
  100% {
    right: -30vh;
    top: -30vh;
  }
}
