.brick {
  animation: active 1s ease infinite;
}

@keyframes active {
  0% {
    filter: contrast(107.5%) brightness(110%);
  }
  25% {
    filter: contrast(102.5%) brightness(102.5%);
  }
  50% {
    filter: brightness(100%);
  }
  75% {
    filter: contrast(102.5%) brightness(102.5%);
  }
  100% {
    filter: contrast(107.5%) brightness(110%);
  }
}
