.turtle {
  background: url('/images/turtle/turtle.1.png') no-repeat center center;
  background-size: contain;
  animation: walk 0.7s ease infinite, move 18s linear infinite;
}

@keyframes walk {
  0% {
    background: url('/images/turtle/turtle.1.png') no-repeat center center;
    background-size: contain;
  }
  50% {
    background: url('/images/turtle/turtle.2.png') no-repeat center center;
    background-size: contain;
  }
  100% {
    background: url('/images/turtle/turtle.1.png') no-repeat center center;
    background-size: contain;
  }
}

@keyframes move {
  0% {
    margin-left: 0px;
    transform: scaleX(1);
  }
  50% {
    margin-left: -380px;
    transform: scaleX(1);
  }
  51% {
    transform: scaleX(-1);
  }
  100% {
    margin-left: 0px;
    transform: scaleX(-1);
  }
}
