.fire {
  background: url('/_next/image?url=%2Fimages%2Ffire%2Ffire.1.png&w=64&q=80') no-repeat center
    center;
  background-size: cover;
  height: 34px;
  width: 30px;
  margin-left: -140vw;
  animation: rotate 1.2s ease infinite, forward 8s ease infinite;
}

.reverse {
  animation: rotate 1.2s ease infinite;
}

@keyframes forward {
  0% {
    opacity: 0;
    margin-left: 0;
    margin-bottom: 0;
  }
  43% {
    opacity: 0;
    margin-left: 0;
    margin-bottom: 0;
  }
  45% {
    opacity: 1;
    margin-left: 0;
    margin-bottom: 0;
    margin-bottom: 0;
  }
  100% {
    opacity: 1;
    margin-left: -110vw;
    margin-bottom: -80vh;
  }
}

@keyframes reverse {
  0% {
    opacity: 0;
    margin-left: 0;
    margin-bottom: 0;
  }
  53% {
    opacity: 0;
    margin-left: 0;
    margin-bottom: 0;
  }
  55% {
    opacity: 1;
    margin-left: 0;
    margin-bottom: 0;
  }
  100% {
    opacity: 1;
    margin-left: 110vw;
    margin-bottom: -80vh;
  }
}

@keyframes rotate {
  0% {
    background: url('/_next/image?url=%2Fimages%2Ffire%2Ffire.1.png&w=64&q=80') no-repeat center
      center;
    background-size: cover;
  }
  25% {
    background: url('/_next/image?url=%2Fimages%2Ffire%2Ffire.2.png&w=64&q=80') no-repeat center
      center;
    background-size: cover;
  }
  50% {
    background: url('/_next/image?url=%2Fimages%2Ffire%2Ffire.3.png&w=64&q=80') no-repeat center
      center;
    background-size: cover;
  }
  75% {
    background: url('/_next/image?url=%2Fimages%2Ffire%2Ffire.4.png&w=64&q=80') no-repeat center
      center;
    background-size: cover;
  }
  100% {
    background: url('/_next/image?url=%2Fimages%2Ffire%2Ffire.3.png&w=64&q=80') no-repeat center
      center;
    background-size: cover;
  }
}
