.cloud {
  width: 166px;
  height: 120px;
  position: fixed;
  background: url('/images/clouds/clouds.1.png') no-repeat center center;
  background-size: cover;
}

.c,
.f,
.h,
.i,
.l {
  width: 250px;
  height: 120px;
  background: url('/images/clouds/clouds.2.png') no-repeat center center;
  background-size: cover;
}

.a {
  left: 90vw;
  top: 7vh;
  opacity: 0.45;
  transform: scale(0.9);
  animation: move 55s linear infinite;
}

.b {
  left: 140vw;
  top: 26vh;
  transform: scale(0.65);
  opacity: 0.5;
  animation: move 85s linear infinite;
}

.d {
  left: 100vw;
  top: 14vh;
  transform: scale(0.75);
  opacity: 0.55;
  animation: move 130s linear infinite;
}

.e {
  left: 60vw;
  top: 39vh;
  transform: scale(0.8);
  opacity: 0.38;
  animation: move 75s linear infinite;
}

.g {
  left: 55vw;
  top: 18vh;
  opacity: 0.39;
  transform: scale(0.8);
  animation: move 60s linear infinite;
}

.j {
  left: -20vw;
  top: 1vh;
  transform: scale(0.65);
  opacity: 0.41;
  animation: move 147s linear infinite;
}

.k {
  left: -120vw;
  top: -12vh;
  transform: scale(0.7);
  opacity: 0.48;
  animation: move 70s linear infinite;
}

.c {
  left: 0vw;
  top: 46vh;
  transform: scale(0.8);
  opacity: 0.45;
  animation: move 70s linear infinite;
}

.f {
  left: -60vw;
  top: 43vh;
  transform: scale(0.9);
  opacity: 0.45;
  animation: move 120s linear infinite;
}

.h {
  left: 20vw;
  top: 8vh;
  transform: scale(0.6);
  opacity: 0.36;
  animation: move 122s linear infinite;
}

.i {
  left: 120vw;
  top: 21vh;
  transform: scale(0.8);
  opacity: 0.54;
  animation: move 80s linear infinite;
}

.l {
  left: 100vw;
  top: 16vh;
  transform: scale(0.85);
  opacity: 0.35;
  animation: move 160s linear infinite;
}

@keyframes move {
  0% {
    margin-left: 160vw;
  }
  100% {
    margin-left: -160vw;
  }
}
