.coin {
  animation: spin 0.7s ease infinite;
}

.active {
  animation: active 0.5s ease, spin 0.7s ease infinite;
}

@keyframes spin {
  0% {
    background: url('/images/coin/coin.1.png') no-repeat center center / cover;
  }
  20% {
    background: url('/images/coin/coin.2.png') no-repeat center center / cover;
  }
  40% {
    background: url('/images/coin/coin.3.png') no-repeat center center / cover;
  }
  60% {
    background: url('/images/coin/coin.4.png') no-repeat center center / cover;
  }
  80% {
    background: url('/images/coin/coin.5.png') no-repeat center center / cover;
  }
  100% {
    background: url('/images/coin/coin.1.png') no-repeat center center / cover;
  }
}

@keyframes active {
  0% {
    opacity: 1;
    margin-bottom: 0px;
  }
  30% {
    opacity: 1;
    margin-bottom: 240px;
  }
  40% {
    opacity: 1;
    margin-bottom: 240px;
  }
  66% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    margin-bottom: -80px;
  }
}
