.mushroom {
  animation: move 1.1s ease-in-out, active 1.8s ease-in-out infinite;
}

@keyframes move {
  0% {
    margin-left: 0px;
    margin-bottom: 0px;
  }
  30% {
    margin-left: 0px;
    margin-bottom: 0px;
  }
  47.5% {
    margin-left: 80px;
    margin-bottom: -20px;
  }
  65% {
    margin-left: 160px;
    margin-bottom: -80px;
  }
  82.5% {
    margin-left: 240px;
    margin-bottom: -140px;
  }
  100% {
    margin-left: 320px;
    margin-bottom: -160px;
  }
}

@keyframes active {
  0% {
    filter: brightness(100%);
  }
  50% {
    filter: brightness(115%);
  }
}
