.goomba {
  animation: walk 0.6s ease infinite, move 18s linear infinite;
}

@keyframes walk {
  0% {
    background: url('/images/goomba/goomba.1.png') no-repeat center center / contain;
  }
  50% {
    background: url('/images/goomba/goomba.2.png') no-repeat center center / contain;
  }
  100% {
    background: url('/images/goomba/goomba.1.png') no-repeat center center / contain;
  }
}

@keyframes move {
  50% {
    margin-left: 0px;
  }
}
