.goomba {
  animation: walk 0.6s ease infinite, move 18s linear infinite;
}

@keyframes walk {
  0% {
    background: url('/_next/image?url=%2Fimages%2Fgoomba%2Fgoomba.1.png&w=256&q=80') no-repeat
      center center / contain;
  }
  50% {
    background: url('/_next/image?url=%2Fimages%2Fgoomba%2Fgoomba.2.png&w=256&q=80') no-repeat
      center center / contain;
  }
  100% {
    background: url('/_next/image?url=%2Fimages%2Fgoomba%2Fgoomba.1.png&w=256&q=80') no-repeat
      center center / contain;
  }
}

@keyframes move {
  50% {
    margin-left: 0px;
  }
}
