.grid {
  background-image: repeating-linear-gradient(
      to top,
      rgba(255, 255, 255, 0.2) 0 1px,
      transparent 1px 100%
    ),
    repeating-linear-gradient(90deg, rgba(255, 255, 255, 0.2) 0 1px, transparent 1px 100%);
  background-size: 40px 40px;
  background-position: bottom left;
}
