@media (min-width: 768px) {
  .active {
    animation: active 0.7s ease infinite;
  }
}

@keyframes active {
  0% {
    background: url('/_next/image?url=%2Fimages%2Fbox%2Fbox.1.png&w=256&q=80') no-repeat center
      center / cover;
  }
  25% {
    background: url('/_next/image?url=%2Fimages%2Fbox%2Fbox.2.png&w=256&q=80') no-repeat center
      center / cover;
  }
  50% {
    background: url('/_next/image?url=%2Fimages%2Fbox%2Fbox.3.png&w=256&q=80') no-repeat center
      center / cover;
  }
  75% {
    background: url('/_next/image?url=%2Fimages%2Fbox%2Fbox.4.png&w=256&q=80') no-repeat center
      center / cover;
  }
  100% {
    background: url('/_next/image?url=%2Fimages%2Fbox%2Fbox.1.png&w=256&q=80') no-repeat center
      center / cover;
  }
}
