@media (min-width: 768px) {
  .active {
    animation: active 0.7s ease infinite;
  }
}

@keyframes active {
  0% {
    background: url('/images/box/box.1.png') no-repeat center center / cover;
  }
  25% {
    background: url('/images/box/box.2.png') no-repeat center center / cover;
  }
  50% {
    background: url('/images/box/box.3.png') no-repeat center center / cover;
  }
  75% {
    background: url('/images/box/box.4.png') no-repeat center center / cover;
  }
  100% {
    background: url('/images/box/box.1.png') no-repeat center center / cover;
  }
}
