.preloader {
  animation: spin 1s linear infinite;
  height: 10px;
  width: 10px;
  margin-bottom: 48px;
}

@keyframes spin {
  0% {
    box-shadow: 0px -30px #0987a0, 10px -30px #0987a0, 20px -20px #0987a0, 30px -10px #0987a0,
      30px 0px #0987a0, 30px 10px #0987a0, 20px 20px #0987a0, 10px 30px #0987a0,
      0px 30px transparent, -10px 30px transparent, -20px 20px transparent, -30px 10px transparent,
      -30px 0px transparent, -30px -10px transparent, -20px -20px transparent,
      -10px -30px transparent;
  }
  6.25% {
    box-shadow: 0px -30px transparent, 10px -30px #0987a0, 20px -20px #0987a0, 30px -10px #0987a0,
      30px 0px #0987a0, 30px 10px #0987a0, 20px 20px #0987a0, 10px 30px #0987a0, 0px 30px #0987a0,
      -10px 30px transparent, -20px 20px transparent, -30px 10px transparent, -30px 0px transparent,
      -30px -10px transparent, -20px -20px transparent, -10px -30px transparent;
  }
  12.5% {
    box-shadow: 0px -30px transparent, 10px -30px transparent, 20px -20px #0987a0,
      30px -10px #0987a0, 30px 0px #0987a0, 30px 10px #0987a0, 20px 20px #0987a0, 10px 30px #0987a0,
      0px 30px #0987a0, -10px 30px #0987a0, -20px 20px transparent, -30px 10px transparent,
      -30px 0px transparent, -30px -10px transparent, -20px -20px transparent,
      -10px -30px transparent;
  }
  18.75% {
    box-shadow: 0px -30px transparent, 10px -30px transparent, 20px -20px transparent,
      30px -10px #0987a0, 30px 0px #0987a0, 30px 10px #0987a0, 20px 20px #0987a0, 10px 30px #0987a0,
      0px 30px #0987a0, -10px 30px #0987a0, -20px 20px #0987a0, -30px 10px transparent,
      -30px 0px transparent, -30px -10px transparent, -20px -20px transparent,
      -10px -30px transparent;
  }
  25% {
    box-shadow: 0px -30px transparent, 10px -30px transparent, 20px -20px transparent,
      30px -10px transparent, 30px 0px #0987a0, 30px 10px #0987a0, 20px 20px #0987a0,
      10px 30px #0987a0, 0px 30px #0987a0, -10px 30px #0987a0, -20px 20px #0987a0,
      -30px 10px #0987a0, -30px 0px transparent, -30px -10px transparent, -20px -20px transparent,
      -10px -30px transparent;
  }
  31.25% {
    box-shadow: 0px -30px transparent, 10px -30px transparent, 20px -20px transparent,
      30px -10px transparent, 30px 0px transparent, 30px 10px #0987a0, 20px 20px #0987a0,
      10px 30px #0987a0, 0px 30px #0987a0, -10px 30px #0987a0, -20px 20px #0987a0,
      -30px 10px #0987a0, -30px 0px #0987a0, -30px -10px transparent, -20px -20px transparent,
      -10px -30px transparent;
  }
  37.5% {
    box-shadow: 0px -30px transparent, 10px -30px transparent, 20px -20px transparent,
      30px -10px transparent, 30px 0px transparent, 30px 10px transparent, 20px 20px #0987a0,
      10px 30px #0987a0, 0px 30px #0987a0, -10px 30px #0987a0, -20px 20px #0987a0,
      -30px 10px #0987a0, -30px 0px #0987a0, -30px -10px #0987a0, -20px -20px transparent,
      -10px -30px transparent;
  }
  43.75% {
    box-shadow: 0px -30px transparent, 10px -30px transparent, 20px -20px transparent,
      30px -10px transparent, 30px 0px transparent, 30px 10px transparent, 20px 20px transparent,
      10px 30px #0987a0, 0px 30px #0987a0, -10px 30px #0987a0, -20px 20px #0987a0,
      -30px 10px #0987a0, -30px 0px #0987a0, -30px -10px #0987a0, -20px -20px #0987a0,
      -10px -30px transparent;
  }
  50% {
    box-shadow: 0px -30px transparent, 10px -30px transparent, 20px -20px transparent,
      30px -10px transparent, 30px 0px transparent, 30px 10px transparent, 20px 20px transparent,
      10px 30px transparent, 0px 30px #0987a0, -10px 30px #0987a0, -20px 20px #0987a0,
      -30px 10px #0987a0, -30px 0px #0987a0, -30px -10px #0987a0, -20px -20px #0987a0,
      -10px -30px #0987a0;
  }
  56.25% {
    box-shadow: 0px -30px #0987a0, 10px -30px transparent, 20px -20px transparent,
      30px -10px transparent, 30px 0px transparent, 30px 10px transparent, 20px 20px transparent,
      10px 30px transparent, 0px 30px transparent, -10px 30px #0987a0, -20px 20px #0987a0,
      -30px 10px #0987a0, -30px 0px #0987a0, -30px -10px #0987a0, -20px -20px #0987a0,
      -10px -30px #0987a0;
  }
  62.5% {
    box-shadow: 0px -30px #0987a0, 10px -30px #0987a0, 20px -20px transparent,
      30px -10px transparent, 30px 0px transparent, 30px 10px transparent, 20px 20px transparent,
      10px 30px transparent, 0px 30px transparent, -10px 30px transparent, -20px 20px #0987a0,
      -30px 10px #0987a0, -30px 0px #0987a0, -30px -10px #0987a0, -20px -20px #0987a0,
      -10px -30px #0987a0;
  }
  68.75% {
    box-shadow: 0px -30px #0987a0, 10px -30px #0987a0, 20px -20px #0987a0, 30px -10px transparent,
      30px 0px transparent, 30px 10px transparent, 20px 20px transparent, 10px 30px transparent,
      0px 30px transparent, -10px 30px transparent, -20px 20px transparent, -30px 10px #0987a0,
      -30px 0px #0987a0, -30px -10px #0987a0, -20px -20px #0987a0, -10px -30px #0987a0;
  }
  75% {
    box-shadow: 0px -30px #0987a0, 10px -30px #0987a0, 20px -20px #0987a0, 30px -10px #0987a0,
      30px 0px transparent, 30px 10px transparent, 20px 20px transparent, 10px 30px transparent,
      0px 30px transparent, -10px 30px transparent, -20px 20px transparent, -30px 10px transparent,
      -30px 0px #0987a0, -30px -10px #0987a0, -20px -20px #0987a0, -10px -30px #0987a0;
  }
  81.25% {
    box-shadow: 0px -30px #0987a0, 10px -30px #0987a0, 20px -20px #0987a0, 30px -10px #0987a0,
      30px 0px #0987a0, 30px 10px transparent, 20px 20px transparent, 10px 30px transparent,
      0px 30px transparent, -10px 30px transparent, -20px 20px transparent, -30px 10px transparent,
      -30px 0px transparent, -30px -10px #0987a0, -20px -20px #0987a0, -10px -30px #0987a0;
  }
  87.5% {
    box-shadow: 0px -30px #0987a0, 10px -30px #0987a0, 20px -20px #0987a0, 30px -10px #0987a0,
      30px 0px #0987a0, 30px 10px #0987a0, 20px 20px transparent, 10px 30px transparent,
      0px 30px transparent, -10px 30px transparent, -20px 20px transparent, -30px 10px transparent,
      -30px 0px transparent, -30px -10px transparent, -20px -20px #0987a0, -10px -30px #0987a0;
  }
  93.75% {
    box-shadow: 0px -30px #0987a0, 10px -30px #0987a0, 20px -20px #0987a0, 30px -10px #0987a0,
      30px 0px #0987a0, 30px 10px #0987a0, 20px 20px #0987a0, 10px 30px transparent,
      0px 30px transparent, -10px 30px transparent, -20px 20px transparent, -30px 10px transparent,
      -30px 0px transparent, -30px -10px transparent, -20px -20px transparent, -10px -30px #0987a0;
  }
  100% {
    box-shadow: 0px -30px #0987a0, 10px -30px #0987a0, 20px -20px #0987a0, 30px -10px #0987a0,
      30px 0px #0987a0, 30px 10px #0987a0, 20px 20px #0987a0, 10px 30px #0987a0,
      0px 30px transparent, -10px 30px transparent, -20px 20px transparent, -30px 10px transparent,
      -30px 0px transparent, -30px -10px transparent, -20px -20px transparent,
      -10px -30px transparent;
  }
}
