.mario {
  height: 100px;
  width: 100px;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  transition: background-image 0.1s ease;
  filter: brightness(115%);
}

.lg {
  height: 160px;
  width: 80px;
}

.jump {
  height: 100px;
  width: 100px;
  background-size: contain;
  background-image: url('/images/mario/mario.sm.jump.png') !important;
  margin-bottom: 0px;
  transition: margin-bottom 0.2s ease-in-out, background-image 0.1s ease;
}

.jumpLg {
  height: 160px;
  width: 80px;
  background-size: contain;
  background-image: url('/images/mario/mario.lg.jump.png') !important;
  margin-bottom: 0px;
  transition: margin-bottom 0.2s ease-in-out, background-image 0.1s ease;
}

.reverse {
  transform: scaleX(-1);
}
